*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --cyan: hsl(180, 29%, 50%);
  --light-cyan-bg: hsl(180, 52%, 96%);
  --light-cyan-filter: hsl(180, 31%, 95%);
  --dark-cyan: hsl(180, 8%, 52%);
  --x-dark-cyan: hsl(180, 14%, 20%);
  --white: #ffffff;

  --box-shadow: 0 0 15px 0 var(--dark-cyan);
  --transition: 300ms ease-in;

  --mobile-width: 375px;
  --desktop-width: 1440px;

  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}

body {
  margin: 0;
  background-color: var(--light-cyan-bg);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.header {
  background-color: var(--cyan);
  background-image: url(./images/bg-header-mobile.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 10rem;
  position: relative;
}

.header .filters-wrapper {
  background-color: var(--white);

  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 7px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .filters-wrapper .filters {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.header .filters-wrapper .filter {
  padding: 0;
  font-size: 1rem;
  background-color: var(--light-cyan-bg);
  color: var(--cyan);
  font-weight: 700;
  display: flex;
  column-gap: 0.5rem;
  overflow: hidden;
  border-radius: 4px;
  width: max-content;
}

.header .filters-wrapper .filter .filter-name {
  padding: 0.4rem 0.3rem;
}

.header .filters-wrapper .filter .remove-filter {
  color: var(--white);
  background-color: var(--cyan);
  border: none;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.header .filters-wrapper .filter .remove-filter:is(:hover, :focus) {
  cursor: pointer;
  background-color: var(--x-dark-cyan);
  transition: var(--transition);
}

#clear-filters {
  background-color: transparent;
  color: var(--dark-cyan);
  text-transform: capitalize;
  font-weight: 700;
  border: none;
}
#clear-filters:is(:hover, :focus) {
  cursor: pointer;
  color: var(--cyan);
  transition: var(--transition);
}

.jobs {
  padding: 2rem;
  max-width: 1050px;
  margin: 0 auto;
}

.jobs .job-card {
  background-color: var(--white);
  border-radius: 7px;
  position: relative;
  min-height: fit-content;
  margin: 3rem auto;
  box-shadow: var(--box-shadow);
}

.jobs .job-card .company-logo {
  width: 3rem;
  transform: translateY(-50%) translateX(50%);
  overflow: hidden;
  margin: 0;
  position: absolute;
}
.job-card .job-desc {
  padding: 0 0.8rem;
  padding-top: 2rem;
  width: 100%;
}

.company-logo img {
  width: 100%;
}

.company {
  border-bottom: 1px solid var(--dark-cyan);
}
.company-details {
  margin-top: 0;
  margin-bottom: 1.3rem;
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.company-details h2 {
  color: var(--cyan);
  font-size: 0.95rem;
  line-height: 0.1;
  font-weight: 700;
}
.company-details .tags span {
  padding: 0.4rem 0.6rem;
  font-size: 0.78rem;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  border-radius: 50px;
  margin: 0 0.2rem;
}
.company-details .tags span:nth-child(1) {
  background-color: var(--cyan);
}
.company-details .tags span:nth-child(2) {
  background-color: var(--x-dark-cyan);
}
.job-card h3 {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--x-dark-cyan);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.job-card h3:is(:hover, :focus) {
  color: var(--cyan);
  transition: var(--transition);
  cursor: pointer;
}

.details {
  color: var(--dark-cyan);
  margin-bottom: 1rem;
}

.tools {
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tools span {
  font-weight: 700;
  font-size: 1rem;
  color: var(--cyan);
  background-color: var(--light-cyan-bg);
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
}
.tools span:is(:hover, :focus) {
  background-color: var(--cyan);
  color: var(--white);
  cursor: pointer;
  transition: 500ms ease-in;
}

.job-card.featured {
  border-left: 7px solid var(--cyan);
}

@media screen and (min-width: 850px) {
  .header {
    background-image: url(./images/bg-header-desktop.svg);
    height: 10rem;
  }

  .jobs .job-card {
    display: flex;
    align-items: center;
    margin: 2rem auto;
  }

  .job-card .job-desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .company {
    border-bottom: none;
  }

  .job-card h3 {
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 0.6;
  }

  .details {
    color: var(--dark-cyan);
    margin-top: 0.5rem;
    line-height: 0.7;
  }

  .jobs .job-card .company-logo {
    width: 5rem;
    transform: translateY(0) translateX(0);
    overflow: hidden;
    margin: 1.3rem;
    margin-right: 0rem;
    position: static;
  }
}
